@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
    --primary-color: #f9532d;
    --primary-dark: #0d1021;
    --primary-font: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
}

/* Genral */
.container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
}

.text-color {
    background: #F7086C;
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
    -webkit-text-fill-color: transparent;
}

/* Nav */
header {
    position: relative;
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
}

.logo a {
    color: #000;
    text-decoration: none;
}

ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: var(--nav-text);
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
}

ul li a {
    position: relative;
}

ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
    height: 3px;
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
}

ul li a::before {
    transform: scale(0, 1);
    transition: transform .3s ease;
}

ul li a:hover::before {
    transform: scale(1, 1);
}

li a.active,
li a:hover {
    background: #F7086C;
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#click {
    display: none;
}

.menu {
    display: none;
}

/* Nav End */

/* Section 1 */
.mode i {
    font-size: 1.4rem;
    cursor: pointer;
    background: #F7086C;
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    display: grid;
    grid-template-columns: 6% repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2rem;
    align-items: center;
}

.main h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.main h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.main p {
    line-height: 1.7;
    font-size: 1.15rem;
    animation-delay: .2s;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
}

.social a {
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1.6px solid;
    display: grid;
    place-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;

}

.social a:hover {
    -webkit-text-fill-color: var(--primary-dark);
    background: linear-gradient(90deg, rgba(255, 95, 109, 1) 0%, rgba(53, 201, 252, 1) 100%);
    box-shadow: 0 0 20px;
    transition: all .3s ease-in-out;
}

.detail span {
    background: #F7086C;
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.images {
    width: 70%;
    margin-left: auto;
    position: relative;
    z-index: -1;
}

.images {
    position: relative;
}



.images img {
    position: relative;
}

/* Section 1 End */

.mode input {
    display: none;
}

.dark-mode {
    background-color: var(--primary-dark);
    color: #ffffff;
}

.dark-mode .social a:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
}

.dark-mode .logo a {
    color: #fff;
}

.dark-mode .detail button {
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);

}

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}




/* about me  ------------------------->*/

.about {
    display: flex;
    justify-content: space-around;
}

.images_about {
    width: 148.91px;

}


.images_about img {
    width: 200%;
}
.images_about .My_images1 img{
    padding-bottom: 10px;
}

.about_me {
    margin-top: 150px;
    width: 496px;
}

.about_me h2 {
    margin-bottom: 50px;
}

.about_me h2 span {
    background: #F7086C;
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about_me p {
    font-size: large;
}



.images_right {
    width: 148.91px;

}

.images_right img {
    width: 200%;
    margin-top: 160px;
    margin-left: -150px;
}